.Titulin {
color:#c163ff
}

.cajas {
border-right: 40px solid#c163ff
}


.eltitulodeltitulo{
border-bottom: 1px solid #c163ff
}


.resultado {
color: #c163ff
}

nav a:hover {
color: #c163ff
}

