.Titulin {
color:#5c5d5f
}

.cajas {
border-right: 40px solid#5c5d5f
}

.eltitulodeltitulo{
border-bottom: 1px solid#5c5d5f
}

.resultado {
color: #5c5d5f
}

nav a:hover {
color: #5c5d5f
}