body {
background: #11151d;
justify-content: center;
margin: 0;
}
section{
    padding: 60px;
}

nav a {
color: white;
font-size: 1.5rem;
font-family: "Bebas Neue";
margin-left: 60px;
text-decoration: none;
transition: color 0.4s;
}

nav a:hover {
color:  #ff68d2;
}



.Titulin {
color: #ff68d2;
font-size: 35px;
text-align: center;
margin-bottom: 20px;
}


.personajeimg img {
width: 50%;
display: block;
margin: 0 auto 20px;
}

.cajas {
margin-top: 20px;
background: #0b0f16;
padding: 10px;
border-radius: 2px;
border-right: 40px solid #ff68d2;
}

.eltitulodeltitulo{
font-size: 25px;
font-family: bebas neue;
color: #00fff2;
margin-bottom: 10px;
padding-bottom: 5px;
border-bottom: 1px solid  #ff68d2;
}


.lineasdelacaja {
display: flex;
justify-content: space-between;
padding: 6px 0;
border-bottom: 1px solid #1c2533;
font-size: 13px;
}


.row:last-child {
border-bottom: none;
}


.categoria {
color: #ffffff;
font-size: 25px;
}


.resultado {
text-align: right;
color: #ff68d2;
font-family: Raleway;
font-size: 1rem;
}


.armaexclusiva {
font-family: Raleway;
font-size: 1rem;
color: #5bb7ff;
cursor: pointer;
}


.rareza {
font-family: Raleway;
font-size: 1rem;
color: #ff4d4d;
font-weight: bold;
}