body {
background: #11151d;
justify-content: center;
margin: 0;
}
section{
    padding: 60px;
}
header {
background: linear-gradient(to right, #000b3a, #01443b); 
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 40px;
}

nav a {
color: white;
font-size: 1.5rem;
font-family: "Bebas Neue";
margin-left: 60px;
text-decoration: none;
transition: color 0.4s;
}

nav a:hover {
color:  #00ffea;
}

.Titulin {
color: #00ffea;
font-size: 50px;
text-align: center;
margin-bottom: 20px;
}

.bio-container {
    width: 90%;
    margin: 40px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://lh3.googleusercontent.com/pw/AP1GczPe998PGQDgiYBGY4LSj8vxREZdM1K2WUxE_X7HAaSZFDH7uFQDDjNwXjyS4kVgCWzdkMyrcXUnGeXyaRbyAdJl-4hAWnQRc9gZedvY3RvfJzMQ5pZTOOFy7o690E3mpxq11oi0ACgwQoPlBVVyQZ4D=w1064-h599-s-no-gm?authuser=0");
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.bio-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 255, 221, 0.514);
}

.bio-row:last-child {
    border-bottom: none;
}

.columnaizquierda {
    text-align: right;
    padding-right: 25px;
    color: #00ffea;
    font-weight: 600;
}

.columnaderecha{
    text-align: left;
    padding-left: 25px;
}


.bio-right h3 {
    visibility: hidden; 
}


.bio-row p {
    margin: 4px 0;
    font-size: 1rem;
}

.personajeimg img {
width: 50%;
display: block;
margin: 0 auto 20px;
}

